.sidebarContainer {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  grid-template-columns: 2fr 3fr;
  z-index: 20;
  transition: transform 1s ease;
  transform: translateX(-100%);
}
.sidebarContainer.show {
  transform: translateX(0);
}
.closeSpace {
  backdrop-filter: blur(0.5rem);
  position: relative;
  z-index: 20;
}
.sidebar {
  display: none;
  background-color: #0b0b0b;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.navbarmainLinks {
  text-decoration: none;
  color: #fff;
}
.icon {
  width: 100px;
  font-size: 1rem;
}
.img {
  width: 50px;
  height: 50px;
  border-radius: 25%;
  cursor: pointer;
  object-fit: cover;
}
.btn {
  cursor: pointer;
}
@media screen and (max-width: 688px) {
  .sidebarContainer {
    display: grid;
  }
  .sidebar {
    display: flex;
  }
}
